

<!DOCTYPE html>
<head>
    <title>
        About Page
    </title>
    <link href="https://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Charm" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

</head>

<body>
    <header>
        <h1>{{pageTitle}}</h1>
    </header>
    <centre>
            <a href="/">Home</a>
            <a href="#">About</a>
            <br> <br>
            <img class="img1" src="download.jpg"  alt="Not Loading"/>
            <h1 style="color: red;font-family: 'Coiny', cursive;">This is line one</h1>
            <h2 style="color: green;font-family: 'Charm', cursive;">This is line two</h2>
            <h3 style="color: palevioletred;font-family: 'Aldrich', sans-serif;">This is line three</h3>
            <h4 style="color: blue;font-family: 'Indie Flower', cursive;">This is line four</h4>
            <h5 style="color: teal;font-family: 'Lobster', cursive;">This is line five</h5>
            <h6 style="color: maroon;font-family: 'Pacifico', cursive;">This is line six</h6>
            
    </centre>
    
   {{> footer}}
</body>

</html>