
<!DOCTYPE html>
<head>
    <title>
        Projects Page
    </title>
    <link href="https://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Charm" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>

<body>
    <header>
        <h1>{{pageTitle}}</h1>
    </header>
    <centre>
            {{>headSection}}
            <br> <br>
            <img class="img1" src="bsb.jpg" width="400px" alt="Not Loading"/>
            <h1 style="color: brown;font-family: 'Coiny', cursive;">This is chocolate</h1>      
    </centre>
   {{> footer}}
</body>
</html>